{% extends 'booking/base.html' %}
{% load i18n %}

{% block content %}
  <h1>{{object.title}}</h1>

  <div class="intro">
    {{object.description|safe}}

    {% if not form.instance.timeslot %}
      <p>
        Please enter your name and choose a time from the available slots below.
      </p>
    {% else %}
      <p>
        Thanks for your reservation, {{form.instance.name}}! Your
        personal portrait session is now scheduled at the following
        date and time:
      </p>

      <blockquote>
        <b>{{form.instance.timeslot.time|date}} {{form.instance.timeslot.time|time:"H:i"}}</b>
      </blockquote>

      <p>
        After your visit you will receive multiple high-resolution
        photographs, carefully selected and edited. Please allow a
        week or two to process all of the pictures. Then, they will me
        made available at the following URL:
      </p>

      <blockquote>
        <a class="button" href="{{form.instance.get_url}}">{{form.instance.get_url}}</a>
      </blockquote>

      <p>
        Be sure to bookmark this link now!
      </p>

      <p>
        {% trans 'If you have any questions, please contact' %}
        <a href="mailto:info@superformosa.nl">info@superformosa.nl</a>
      </p>

      <p>
        Greetings,<br>
        Jaap Joris Vens<br>
        Super Formosa Photography
      </p>
    {% endif %}
  </div>

  {% if not form.instance.timeslot %}

    <form method="post" id="form">
      {% csrf_token %}
      <p>
        Your name:
        {{form.name}}
      </p>
      {% if form.name.errors %}
        <p style="color:red">
          Please enter your name first!
        </p>
      {% endif %}

      <div class="tables">
        {% regroup object.timeslots.all by time.date as slots_per_day %}
        {% for day in slots_per_day %}
          <table>
            <tr>
              <th>{{day.grouper}}</th>
            </tr>
            {% for timeslot in day.list %}
              <tr>
                <td class="{% if form.instance.timeslot.id == timeslot.id %}booked{% elif timeslot.subject or timeslot.dummy %}unavailable{% endif %}">
                  <label for="id_timeslot_{{timeslot.id}}"><input type="radio" name="timeslot" value="{{timeslot.id}}" required id="id_timeslot_{{timeslot.id}}" {% if form.instance.timeslot.id == timeslot.id %}checked{% elif timeslot.subject or timeslot.dummy %}disabled{% endif %}>{{timeslot.time|time:"H:i"}}</label>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      </div>
    </form>

  {% endif %}
{% endblock %}

{% block extrabody %}
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var form = document.getElementById('form');
        var labels = document.querySelectorAll('label');
        for (var label of labels) {
            label.addEventListener('click', function() {
                form.submit();
            });
        }
    });
  </script>
{% endblock %}
